*{
    margin: 0;
    padding: 0;
}
/* Day Theme */
:root {
    --background-color: #ffffff;
    --text-color: #000000;
  }
  
  /* Night Theme */
  [data-theme='night'] {
    --background-color: #121212;
    --text-color: #f5f5f5;
  }
  
  /* Apply variables throughout the site */
  body {
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s; /* Smooth transition */
  }
  